/* @override 
	http://localhost/css/styles.css */

body 
{
	
	font-family: PT serif;
	margin: 0;
	background: #f4f4f4 url('../images/bg.jpg') no-repeat left top;
}


/* Webkit */
::selection {
    background: #972F2C;
    color: #FFF;
}
/* Gecko/Mozilla */
::-moz-selection {
    background: #972F2C;
    color: #FFF;
}

.modal {
	display: block;
	width: 720px !important;	
}

.modal-body {
	height: 600px !important;
}

h2 {
	font-family: ayumi_lightregular;
	text-transform: uppercase;

}

h3 {
	text-transform: uppercase;
	font-family: ayumi_lightregular;
	
	
}

h5 {
	font-weight: normal;
}

#container {
	margin: 25px 0 25px 35px;
	width: 780px;
}

#left_column h3 {
	margin: 15px 0 0 0;
}

#left_column h5 {
	margin: 0;
}

#left_column h5 + div {
	margin: 5px 0 35px 0;
}

#footer {
	width: 100%;
	height: 75px;
	background-color: #333;
	color: #888;
	text-transform: uppercase;
	font-family: ayumi_lightregular;
}

#footer .right {
	width: 300px;
	
}

#footer .right p {
	float: left;
	margin: 27px 20px 0 0;
}

#footer .right img {
	display: block;
	margin: -20px 0 25px 0;
}

#footer .right img+img {
	margin-bottom: 0px;
	margin-left: 10px;

}

#footer .left {
	margin: 27px 0 0 36px;

}

.left {
	float: left;
}

.right {
	float: right;
}


.project {
	margin: 55px 0 0 0;
	width: 450px;
	border: solid 1px #666;
	padding: 15px;
	background-color: #CCC;
}

.project h4 {
	font-size: 2.5em;
	text-transform: uppercase;
	font-family: ayumi_lightregular;
}

.project h5 {
	font-style: italic;
	font-weight: 400;
	font-size: 1.1em;

}

.filter_list img {
	width: 50px;
	height: 50px;
}

.tags + div {
	margin: 15px 0 0 0;
}
