/* @override 
	http://localhost/css/styles.css */

body 
{
	
	font-family: PT serif;
	margin-left: 10px;
	background: #f4f4f4 url('../images/bg.jpg') no-repeat left top;
}


/* Webkit */
::selection {
    background: #972F2C;
    color: #FFF;
}
/* Gecko/Mozilla */
::-moz-selection {
    background: #972F2C;
    color: #FFF;
}

.modal {
	display: block;
	width: 700px !important;
}

h3 {

	font-family: ayumi_lightregular;
	
	
}

h5 {
	font-weight: normal;
}

#left_column
{
/*	border: 1px solid #FF0;*/
	float: left;
	margin: 15px 0;
}

#right_column
{
/*	border: 1px solid #333;*/
	float: left;
	margin: 15px 15px;
}