 <div>
<div class="filter_list btn_group">
	

	<button type="button" class="btn" ng-model="filters_text.flash" btn-checkbox><img ng-src="{{'flash' | tagurl }}" />{{ 'flash' | tagTooltip }}</button>
	<button type="button" class="btn" ng-model="filters_text.code" btn-checkbox><img ng-src="{{'code' | tagurl }}" />{{ 'code' | tagTooltip }}</button>
	<button type="button" class="btn" ng-model="filters_text.data" btn-checkbox><img ng-src="{{'data' | tagurl }}" />{{ 'data' | tagTooltip }}</button>
	<button type="button" class="btn" ng-model="filters_text.enterprise" btn-checkbox><img ng-src="{{'enterprise' | tagurl }}" />{{ 'enterprise' | tagTooltip }}</button>
	<button type="button" class="btn" ng-model="filters_text.leader" btn-checkbox><img ng-src="{{'leader' | tagurl }}" />{{ 'leader' | tagTooltip }}</button>
	<button type="button" class="btn" ng-model="filters_text.air" btn-checkbox><img ng-src="{{'air' | tagurl }}" />{{ 'air' | tagTooltip }}</button>
	<button type="button" class="btn" ng-model="filters_text.jquery" btn-checkbox><img ng-src="{{'jquery' | tagurl }}" />{{ 'jquery' | tagTooltip }}</button>
	<button type="button" class="btn" ng-model="filters_text.facebook" btn-checkbox><img ng-src="{{'facebook' | tagurl }}" />{{ 'facebook' | tagTooltip }}</span>
	<button type="button" class="btn" ng-model="filters_text.game" btn-checkbox><img ng-src="{{'game' | tagurl }}" />{{ 'game' | tagTooltip }}</button>
	<button type="button" class="btn" ng-model="filters_text.interactive" btn-checkbox><img ng-src="{{'interactive' | tagurl }}" />{{ 'interactive' | tagTooltip }}</button>
	<button type="button" class="btn" ng-model="filters_text.mobile" btn-checkbox><img ng-src="{{'mobile' | tagurl }}" />{{ 'mobile' | tagTooltip }}</button>
	<button type="button" class="btn" ng-model="filters_text.site" btn-checkbox><img ng-src="{{'site' | tagurl }}" />{{ 'site' | tagTooltip }}</button>
</div>


<div class="projects masonry">
	<div ng-repeat="project in projects | filter:query | orderBy:orderProp" class="project masonry-brick">

		<h4>{{project.title}}</h4>
		<h5>{{project.tagline}}</h5>
		<p>{{project.description}}</p>
		<div class="tags" ><img tooltip="{{ tag | tagTooltip }}" ng-repeat="tag in project.tags" ng-src="{{tag | tagurl}}"  /></div>


		<div ng-if="project.vimeoid"  ng-controller="modalControl"><!-- this is not shown if no vimeo id is present in data -->

		    <button class="btn" ng-click="open()">See the Video</button>
		    <div modal="shouldBeOpen" close="close()" options="opts">
		        <div class="modal-header">
		            <h4>{{project.title}} {{project.tagline}}</h4>
		        </div>
		        <div class="modal-body">
		            <iframe src="http://player.vimeo.com/video/{{project.vimeoid}}" width="680" height="420" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		        </div>
		        <div class="modal-footer">
		            <button class="btn btn-warning cancel" ng-click="close()">CLOSE</button>
		        </div>
		    </div>

		</div>

</div>

</div>